/*
 * BLUE: #49C6E5;
 * ORANGE: #F75B2C;
 * D.GRAY: #D4D4D4;
 * L.GRAY: #F2F2F2;
 * BLACK: #050505;
 *
 */

@import url("type.css");

body, h1 {
	margin: 0;
}

footer {
	background-color: #F75B2C;
}

header {
	display: block;
	/*background-image: url('http://placehold.it/940x580');*/
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: #49C6E5;
	/*padding: 20px;*/
}

#head_content {
	min-height: 600px;
	margin: 80px 0 0 0;
	/*padding: 0;*/
	background-color: #49C6E5;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-head {
	text-align: center;
	margin: .5em 0;
	display: block;
	height: 1em;
}

#head_content .content_div article {
	margin: 0;
	padding: 0;
	width: 40em;
}


nav ul {
	/*display: block;*/
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	list-style-type: none;
	margin: 2em auto;
	padding: 0;
	width: 768px;
	height: 20px;
	position: relative;
}

nav ul li {
	display: inline-block;
	text-align: center;
}

li a {
	text-decoration: none;
}

.dynamic_div {
	display: block;
	padding: 1.5em 2em;
	text-align: left;
	margin: 0;
	background-color: #49C6E5;
}

/*
 * ---------------
 * HELPER CLASSES
 * ---------------
 *
 */

 .content {
 	width: 30em;
 	text-align: left;
 	align-self: center;
 }

 .order_one {
 	order:1;
 }

 .order_two {
 	order:2;
 }

 .flex-container-column {
 	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
 	flex-direction:column; 
 	align-items: center;
 	padding: 0 1em;
 	width:20em; 
 }

 .content-column {
 	width: 15em;
 	text-align: center;
 }

#main {
	/*margin: -10px 0 0;*/
	text-align: center;
}

.content_div {
	padding: 2em;
}

.flex-container {
	margin: 2.5em 0;
	padding: 1em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.circle {
	width: 20em;
	height: 20em;
	border: 1px  solid #000;
	border-radius: 50%;
	margin: 1em 1em;
	float: left;
	text-align: center;
	display: table;
}

.circle p {
	display: table-cell;
	/*height: 300px;*/
	vertical-align: middle;
}

#what_we_offer {
	/*background-color: #F2F2F2;*/
	padding: 4em 2em;
}

#sponsors_div {
	background-color: #F2F2F2;
}


/* 
 * ---------------
 * Services Page
 * --------------- 
 *
 */
.rates {
	width: 20em;
	border: 1px  solid #000;
	border-radius: 4px;
	float: left;
	text-align: center;
	display: table; 
}

.rates p:not(:last-of-type) {
	display: block;
	padding: 1em;
	border-bottom: 1px solid;
}

.showcase {
	display: block;
	width: 320px;
	height: 240px;
	background-color: green;
	margin: 2em;
}

/*
 * ----------------
 * Projects Page
 * ----------------
 */

 #head_content .circle {
 	width: 20em;
	height: 20em;
	margin: 0 2em;
	border: 1px  solid #000;
	border-radius: 50%;
	text-align: center;
	display: table;
	align-self: center;
 }

 .intro_text {
 	width: 30em;
 	margin: 8em 0 8em 0;
 	align-self: center;
 }

 .project_item > * {
 	padding: 0 2em;
 }

 .flex-justify-center {
 	justify-content: center;
 }

/* 
 * ----------------
 * Menu Toggle Style
 * --------------- 
 */
/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #F2F2F2;
	background: #49C6E5;
	border: 1px  solid #F2F2F2;
	border-radius: 2px;
	text-align: center;
	padding: 0.5em 1em;
	display: none;
	width: 5em;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #navigation{
    display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

footer {
	height: 200px;
}

@media screen and (max-width : 48em){
	/*Make dropdown links appear inline*/
	nav ul {
		position: static;
		display: none;
		width: 100%;
		margin-top: 4em;
	}
	
	li {
		display: block;
		width: 100%;
		background-color: #49C6E5;
		padding: 1em 1em 1em 0;
	}
	
	/*Make all menu links full width*/
	li a {
		text-align: center;
		text-decoration: none;
		display: block;
		width: inherit;
		height: inherit;
	}

	li:hover {
		background-color: #F75B2C;
	}

	li:last-child {
		box-shadow: 0 8px 4px rgba(0,0,0,.25);
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
		float: right;
		margin: 1em 1em 0 0;
	}

	.circle {
		width: 100%;
		border-radius:0px;
	}

	.rates {
		width: 100%;
		border-radius:5px;	
	}
}