/*
 * D.GRAY:	#37392E;
 * L.BLUE:	#2EC4B6;
 * 	WHITE:	#F3F3F3;
 * B. RED:	#EF2D56;
 * D.BLUE:	#19647E;
 *
 */

 /* https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_animations/Detecting_CSS_animation_support */
/*
 * Please check browser compatibility. If not supported, use float solution
 *
 *
 */
@import url("type.css");

html {
	position: relative;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: #37392E;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: white;
}

h1, p {
	margin: 0;
}

footer {
	position: relative;
	height: 7.8em;
	background-color: #37392E;
	color: #F3F3F3;
	padding: 10px;
	width: 100%;
}

	.social-media {
		display: inline-block;
		width: 300px;
		margin-left: 10%;
		padding: 10px;
	}

	.social-media h3 {
		margin: 15px 0;
		color: white;
	}

	.social-media img {
		width: 45px;
		margin-right: 10px;
	}

	.more-info {
		position: absolute;
		right: 10%;
		display: inline-block;
		text-align: right;
		padding: 10px;
		top: 25px;
	}

	.more-info p {
		margin: 5px 0;
	}

header {
	display: block;
}
	.head_margin {
		margin-right: 2em;
	}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	width: 100vw;
	height: 80px;
	padding-right: 2em;
	background-color: #2EC4B6;
	z-index: 999;
}

	#head_content {
		margin: 80px 0 0 0;
		/*padding: 0;*/
		background-color: #2EC4B6;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

		#head_content_div {
			width: 100%;
		}

		#head_content .content_div article {
			margin: 0;
			padding: 0;
			/*width: 40em;*/
		}

	nav ul {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		-webkit-justify-content: space-around;
		    -ms-flex-pack: distribute;
		        justify-content: space-around;
		list-style-type: none;
		margin: 2em auto;
		padding: 0;
		width: 40em;
		height: 20px;
		position: relative;
	}

		nav ul li {
			display: inline-block;
			text-align: center;
		}

			li a {
				text-decoration: none;
			}

textarea {
	resize:none;
}

.flex-head {
	text-align: center;
	margin: 0 auto .5em;
	display: block;
	height: 1em;
	width: 100%;
}

.nav-animated {
	position: absolute;
	left:49%;
	margin: 2em 0;
}

.center-head {
	transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.sliding-right {
	animation: slideRight 0.5s linear;
	-webkit-animation: slideRight 0.5s linear;
	-moz-animation: slideRight 0.5s linear;
	-o-animation: slideRight 0.5s linear;
	-ms-animation: slideRight 0.5s linear;
}

@-webkit-keyframes slideRight {
	from {
		transform: translateX(-40%);
	    -webkit-transform: translateX(-40%);
	    -moz-transform: translateX(-40%);
	    -o-transform: translateX(-40%);
	    -ms-transform: translateX(-40%);
	}

	to {
		transform: translateX(0);
	    -webkit-transform: translateX(0);
	    -moz-transform: translateX(0);
	    -o-transform: translateX(0);
	    -ms-transform: translateX(0);
	}
}

@keyframes slideRight {
	from {
		transform: translateX(-40%);
	    -webkit-transform: translateX(-40%);
	    -moz-transform: translateX(-40%);
	    -o-transform: translateX(-40%);
	    -ms-transform: translateX(-40%);
	}

	to {
		transform: translateX(0);
	    -webkit-transform: translateX(0);
	    -moz-transform: translateX(0);
	    -o-transform: translateX(0);
	    -ms-transform: translateX(0);
	}
}

.sliding-left {
	animation: slideLeft 0.5s linear;
	-webkit-animation: slideLeft 0.5s linear;
	-moz-animation: slideLeft 0.5s linear;
	-o-animation: slideLeft 0.5s linear;
	-ms-animation: slideLeft 0.5s linear;
}

@-webkit-keyframes slideLeft {
	from {
		transform: translateX(-40px);
	    -webkit-transform: translateX(-40px);
	    -moz-transform: translateX(-40px);
	    -o-transform: translateX(-40px);
	    -ms-transform: translateX(-40px);
	}

	to {
		transform: translateX(-50%);
	    -webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	}
}

@keyframes slideLeft {
	from {
		transform: translateX(-40px);
	    -webkit-transform: translateX(-40px);
	    -moz-transform: translateX(-40px);
	    -o-transform: translateX(-40px);
	    -ms-transform: translateX(-40px);
	}

	to {
		transform: translateX(-50%);
	    -webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	}
}

.afterSlideMargin {
	margin-left: -40px;
}


/*
 * ---------------
 * HELPER CLASSES
 * ---------------
 *
 */

  .order_one {
 	-webkit-order:1;
 	    -ms-flex-order:1;
 	        order:1;
 }

 .order_two {
 	-webkit-order:2;
 	    -ms-flex-order:2;
 	        order:2;
 }

 /*
 * ------------------
 * CONTAINER CLASSES
 * ------------------
 *
 */

.content {
	width: 30em;
	text-align: left;
	-ms-flex-item-align: center;
	        -webkit-align-self: center;
	        align-self: center;
}

.flex-container {
	padding: 2.5em 1.5em;
	margin: 0 auto;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.flex-container-column {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column wrap;
	    -ms-flex-flow: column wrap;
	        flex-flow: column wrap;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0 1em;
	width:20em;
}

.content-column {
	width: 15em;
	text-align: center;
}

#main {
	display: block;
	text-align: center;
	z-index: 10;
}

/*#head_content, #main {
	height: calc(100vh - 100px);
}*/

.content_div {
	padding: 2em 0 0;
}

.circle {
	max-width: 20em;
	max-height: 20em;
	min-width: 12em;
	min-height: 12em;
	padding: 1em 0.5em;
	border: 1px  solid #000;
	border-radius: 50%;
	margin: 1em 1em;
	float: left;
	text-align: center;
	display: table;
	-webkit-flex: 1 0 auto;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}

.circle p {
	display: table-cell;
	/*height: 300px;*/
	vertical-align: middle;
}

.circle_icon {
	border: 1px solid #37392E;
	border-radius: 50%;
	width: 6em;
	height: 6em;
}

.rectangle {
	max-width: 20em;
	max-height: 20em;
	min-width: 12em;
	min-height: 12em;
	padding: 1em 0.5em;
	border: 1px  solid #000;
	margin: 1em 1em;
	float: left;
	text-align: center;
	display: table;
	-webkit-flex: 1 0 auto;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}

.rectangle p {
	display: table-cell;
	vertical-align: middle;
}

/*
 * ---------------
 * Index Page
 * ---------------
 *
 */
div#head_content.home {
	  /*background-image: url('../images/index-img.png');
	  background-size: cover;
	  background-position: center top;
	  background-repeat: no-repeat;*/
	  min-height: 100%;
	  min-height: 100vh;
	  overflow: hidden;
	  position: relative;
}

 .rgear {
 	right: 5%;
 	height: 92%;
 	width: 25%;
 	background: transparent url("../images/IndexImage_rgear.png") no-repeat;
 	background-position: 100% 125%;
 }

 .servers {
 	right: 0;
 	height: 100%;
 	width: 35%;
 	background: transparent url("../images/IndexImage_servers.png") no-repeat;
 	background-position: 100% 100%;
 }

 .desk {
 	left: 0;
 	height: 100%;
 	width: 60%;
 	padding-top: 2em;
 	background: transparent url("../images/IndexImage_table.png") no-repeat;
 	/*background-position: 100% -50%;*/
 	background-position: 100% 130%;
 }

 .rgear, .servers, .desk, .corkboard {
 	display: block;
 	position: absolute;
 	bottom: 0;
 	background-size: 100%;
 }

 .corkboard {
 	display: block;
 	position: absolute;
 	top: 5%;
 	left: 1.5%;
 	height: 43.5%;
 	width: 25%;
 	background: transparent url("../images/IndexImage_board.png") no-repeat;
 	background-position: 100% 100%;
 	background-size: 100%;
 }

 .welcome-text {
 	width: 40%;
 	height: 43%;
 	padding: 2% 0;
 	margin-top: 2%;
 	z-index: 6;
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      -webkit-align-content: center;
          align-content: center;
 }

 	.welcome-text > h2 {
 		margin: 0 auto;
 		font-size: 1.5em;
 	}

 	.welcome-text > img {
 		width: 30em;
 		margin: 10px auto;
 	}

 	.welcome-text > p {
 		margin: 5px 10%;
 		text-align: justify;
 		font-size: 1.25em;
 		line-height: 1.25;
 	}

 	.welcome-text a {
 		display: inline-block;
 		text-align: center;
 		text-decoration: none;
 		font-size: 18px;
 		line-height: 1.5;
 		white-space: nowrap;
 		color: #F3F3F3;
 		background-color: #EF2D56;
 		border-radius: 10px;
 		padding: 8px 16px;
 		margin: 10px 0;
 		vertical-align: middle;
 		-webkit-transition: background-color 200ms ease;
 						transition: background-color 200ms ease;
 	}

 	.welcome-text #cta::after {
 		content: " ";
 		display: block;
 		width: 0; 
		height: 0;
		margin: 5px auto;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #fff;
 	}

 	.welcome-text a:hover {
 		background-color: #FF1D25;
 	}


#what_we_offer .item {
	margin: 0 60px;
	width: 250px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column wrap;
	    -ms-flex-flow: column wrap;
	        flex-flow: column wrap;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

	#what_we_offer .item > img {
		width: 100%;
	}

	#what_we_offer .item > p {
		margin: 20px 0;
		width: 200px;
		-webkit-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
	}

	#what_we_offer .item > a {
		display: inline-block;
		text-align: center;
		text-decoration: none;
		font-size: 18px;
		line-height: 1.5;
		white-space: nowrap;
		color: #F3F3F3;
		background-color: #2EC4B6;
		border-radius: 10px;
		padding: 8px 16px;
		margin: 10px 0;
		vertical-align: middle;
		-webkit-transition: background-color 200ms ease;
						transition: background-color 200ms ease;
	}

	#what_we_offer .item > a:hover {
		background-color: #30A2BF;
	}

#sponsors_div .info-text {
	margin: 0 auto;
	width: 60%;
}

#sponsors_div a {
	color: #2EC4B6;
}

#sponsors_div a:hover {
	color: #19647E;
}

#sponsors_div {	background-color: #F3F3F3; }


/*
 * ---------------
 * Services Page
 * ---------------
 *
 */
 #services, #other-systems .flex-container {
 	-webkit-align-items: flex-start;
 	    -ms-flex-align: start;
 	        align-items: flex-start;
 }

 #services .details,
 #other-systems .details {
 	width: 35%;
 	margin-left: 2em;
 }

 .service {
 	margin-bottom: 2em;
 }

 .service h2,
 .service h3 {
		margin: 0 0 5px;
		color: #19647E;
 }

 .service h3 {
 	letter-spacing: 0.1em;
 }

 .service .price {
 	color: #F3F3F3;
 	margin: 2.5px 0;
 	font-weight: bold;
 }

#add-ons {
	width: 90%;
	margin: 0 auto;
	text-align: left;
}

#add-ons .service {
	width: 25%;
	width: (100%/4);
	margin: 1em;
}

#add-ons .service .price {
	color: #EF2D56;
}

#add-ons .service img {
	width: 20px;
	float: left;
}

#add-ons .service .feature {
	margin-left: 30px;
}

#add-ons .feature h3 {
	line-height: 125%;
}

#other-systems {
	background-color: #37392E;
}

#other-systems .flex-container {
	-webkit-flex-flow: row-reverse;
	    -ms-flex-flow: row-reverse;
	        flex-flow: row-reverse;
}

#other-systems .flex-head,
#other-systems .service {
	color: #F3F3F3;
}

#other-systems .details {
	text-align: right;
	margin-right: 2em;
	margin-left: 0;
}

#other-systems h3 {
	color: #2EC4B6;
}

#showcase {
	background-color: #F3F3F3;
}

/*
 * ----------------
 * Projects Page
 * ----------------
 */

 #head_content .circle {
 	width: 20em;
	height: 20em;
	margin: 0 2em;
	border: 1px  solid #000;
	border-radius: 50%;
	text-align: center;
	display: table;
	-ms-flex-item-align: center;
	        -webkit-align-self: center;
	        align-self: center;
 }

 #project-intro {
 	font-size: 1.2em;
 	margin: 0 auto 10px;
 }

 .intro_text {
 	width: 30em;
 	margin: 8em 0 8em 0;
 	-ms-flex-item-align: center;
 	        -webkit-align-self: center;
 	        align-self: center;
 }

  .project_item {
  	-webkit-align-items: center;
  	    -ms-flex-align: center;
  	        align-items: center;
  }

  .project_item > * {
  	padding: 0 2em;
  }

 	.project_item img {
 		width: 40%;
 	}

 	.project_item h2::first-letter {
 		font-size: 1.15em;
 	}

 	#edrive {
 		height: 25%;
 		width: auto;
 	}

 	.project_item .order_one {
 		text-align: right;
 	}

 .flex-justify-center {
 	-webkit-justify-content: center;
 	    -ms-flex-pack: center;
 	        justify-content: center;
 }

/*
 * ----------------
 * Portfolio Page
 * ---------------
 */
  #microsites .flex-container-column,
  #client-sites .flex-container-column {
  	margin: 0 4em 2em;
  }

  .site {
  	width: 25em;
  	height: 14.5em;
  	padding: 1em 0.5em;
  	margin-bottom: 1em;
	 	background-position: center center;
	 	background-size: 115%;
	 	-webkit-transition: background-size 400ms ease,
 															opacity 400ms linear;
					 	transition: background-size 400ms ease,
							 								opacity 400ms linear;
  }

  a .site {
  	opacity: 0.8;
  }

  a:hover .site {
  	opacity: 1;
  	background-size: 125%;
  }

  a h3 {
  	text-align: left;
  	color: #050505;
  	-webkit-transition: opacity 400ms ease;
  					transition: opacity 400ms ease;
  }

/*
 * ----------------
 * About Us Page
 * ---------------
 */
 #mission, #vision {
 	-webkit-align-items: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	margin: 0 auto 10px;
 }

 	#mission {
 		-webkit-flex-direction: row-reverse;
 		    -ms-flex-direction: row-reverse;
 		        flex-direction: row-reverse;
 	}

 	#mission h2 {
 		text-align: right;
 	}

 	#mission img,
 	#vision img {
 		height: 40px;
 	}

 	#vision .intro_text,
 	#mission .intro_text {
 		font-size: 1.15em;
 		width: 40%;
 		text-align: center;
 	}

 	#vision .intro_text p,
 	#mission .intro_text p {
 		padding-top: 10px;
 	}

 	#core_competencies .flex-container {
 		-webkit-justify-content: center;
 		    -ms-flex-pack: center;
 		        justify-content: center;
 		-webkit-align-items: flex-start;
 		    -ms-flex-align: start;
 		        align-items: flex-start;
 		padding: 1em 0;
 	}

 		.org-goals {
 			-webkit-align-items: center;
 			    -ms-flex-align: center;
 			        align-items: center;
 			width: 300px;
 		}

 		.org-goals img {
 			width: 250px;
 		}

 		.org-goals-info h2,
 		.org-goals-info h4 {
 			margin: 5px 0;
 		}

 		.org-goals-info h2 {
 			color: #19647E;
 		}

 		.org-goals-info h4 {
 			color: #EF2D56;
 			letter-spacing: 0;
 			font-family: "Open Sans", Arial, sans-serif;
 		}

 		.org-goals-info p {
 			margin: 10px 0;
 		}

.col-2 {
	display:inline-block;
	width:40%;
	width: calc(100%/2.5);
}

.col-3 {
	display:inline-block;
	width: 30%;
	width: calc(100%/3.33);
}

#eb-ac {
	background-color: #F3F3F3;
	line-height: 150%;
}

	#eb-ac .circle_icon {
		margin: 10px auto;
		background-position: 0 0;
		background-size: cover;
	}

		/* TEMPORARY until EB+AC photoshoot */
		.eb-info .circle_icon,
		#moderator .circle_icon {
			background-image: url('../images/EBAC_Placeholder1.png');
		}

		.avp_container .circle_icon {
			background-image: url('../images/EBAC_Placeholder2.png');
		}

	.name {
		font-weight: bold;
	}

	.email a {
		color: #666;
		word-wrap: break-word;
	}

	.email a:hover {
		color: #333;
		text-decoration: underline;
	}

.avp_container {
	height:6em;
	display: table;
}

.avp_text {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding-left: 20px;
}

#moderator {
	margin: 0 auto;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/*
 * ---------------
 * Contact Us Page
 * ---------------
*/
#contactus {
	-ms-flex-line-pack: start;
	        -webkit-align-content: flex-start;
	        align-content: flex-start;
}

#contactus .details {
	margin: 2em 0;
}

#contactus .details a:hover,
#contactus .details a:focus, {
	text-decoration: underline;
}

#message {
	width: 90%;
}

#form {
	margin-bottom: 5%;
}

/* Sticky Footer */
body {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100%;
	min-height: 100vh;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

#header, #head_content, #main {
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

#header {
	background-color: #F3F3F3;
}

/*
 * ----------------
 * Menu Toggle Style
 * ---------------
 */
/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #F3F3F3;
	background: #2EC4B6;
	border: 1px  solid #F3F3F3;
	border-radius: 2px;
	text-align: center;
	padding: 0.5em 1em;
	display: none;
	width: 5em;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #navigation{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}
@media screen and (max-width: 60em) {
	.corkboard {
		top: 0%;
	}

	.welcome-text {
		width: 40%;
		height: 40%;
	}

 	.welcome-text > h2 {
 		font-size: 1.2em;
 	}

 	.welcome-text > img {
 		width: 90%;
 	}

 	.welcome-text p {
 		font-size: 0.95em;
 	}
}

@media screen and (max-width : 48em){
	nav {
		padding: 0;
	}
	/*Make dropdown links appear inline*/
	nav ul {
		position: static;
		display: none;
		width: 100%;
		width: 100vw;
		margin-top: 4em;
	}

		li {
			display: block;
			width: 100%;
			background-color: #2EC4B6;
			padding: 1em 1em 1em 0;
		}

		/*Make all menu links full width*/
			li a {
				text-align: center;
				text-decoration: none;
				display: block;
				width: inherit;
				height: inherit;
			}

			li:hover,
			li:focus {
				background-color: #19647E;
			}

			li:last-child {
				box-shadow: 0 8px 4px rgba(0,0,0,.25);
			}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
		float: right;
		margin: 1em 1em 0 0;
	}

	.circle {
		/*width: 100%;*/
		border-radius:0px;
	}

	.flex-container {
		padding: 1em;
	}

	.rgear, .corkboard, .servers {
		display: none;
	}

	.desk {
		width: 100%;
		background-position: 100% 100%;
	}

	.welcome-text {
		width: 100%;
		width: 100vw;
		height: 70%;
	}

 	.welcome-text > h2 {
 		font-size: 1.3em;
 	}

 	.welcome-text > img {
 		width: 90%;
 		width: 90vw;
 		margin: 10px auto;
 	}

 	.welcome-text > p {
 		font-size: 1.125em;
 		margin-bottom: 10px;
 	}

 	#what_we_offer .item {
 		margin-bottom: 1em;
 	}

 	#head_content .content_div article {
 		width: 40em;
 	}

	#services .details, #add-ons .service, #other-systems .flex-container .details {
		width: 90%;
	}

	#services .details,
	#other-systems .details {
		margin-left: 1em;
	}

	#other-systems .flex-container {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	#services img,
	#other-systems img {
		width: 90%;
		margin: 1.5em auto;
	}

	#other-systems .details {
		text-align: left;
	}

	.site {
  	width: 18em;
  	height: 7.5em;
  	padding: 1em 0.5em;
  	margin-bottom: 1em;
	 	background-position: center center;
	 	background-size: 115%;
 		-webkit-transition: background-size 400ms ease,
															opacity 400ms linear;
					 	transition: background-size 400ms ease,
							 								opacity 400ms linear;
  }

  #microsites h3,
  #client-sites h3 {
  	letter-spacing: 0.1em;
  }

  #project-intro, .intro_text {
  	text-align: center;
  }

  .project_item img, #edrive {
  	width: 90%;
  }

  .project_item {
  	width: 100wh;
  }

  #eb-ac h2 {
  	line-height: 125%;
  }

  .col-2,
  .col-3 {
  	width: 44.44%;
  	width: calc(100%/2.25);
  	margin: 0 10px;
  }

	.avp_container {
		display: none;
	}

	footer {
		padding-left: 0;
		padding-right: 0;
		height: 200px;
	}

		.social-media,
		.more-info {
			display: block;
			text-align: center;
			margin: 0 auto;
		}

		.more-info {
			position: initial;
			right: 0;
			top: 0;
			padding: 0;
		}

		.more-info p {
			margin: 2.5px 0;
		}
/*
	h2.flex-head {
		width: 90vw;
	}*/
	main.content_div flex-container> img{
		width: 100%;
		width: 100vw;
		padding: 0;
	}

	.eb-info {
		margin-bottom: 10px;
	}

	.col-3 .eb-info::after{
		content:"▼";
		text-align: center;
		white-space: pre;
		position: relative;
		top: 5px;
		line-height: 1rem;
		color: #2EC4B6;
	}

	.avp_text {
		display: block;
		margin: 0 auto;
		width: 300px;
		text-align: center;
		padding: 0;
	}
}
@media screen and (max-width : 26em){
	.col-3, .col-2{
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}
}
